
body {
    font-family: 'Roboto', sans-serif;
  }
  
.p
{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.thumbnail
{
    width: 100%;
}
.thumbnail-row
{
    position: relative;
}
.video-time
{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 500;


}
.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.grid-layout
{
    display: grid;
    grid-template-columns: 50px 1fr;
    padding-bottom: 10px;
}

.profile
{
    border-radius: 50px;
    width: 40px;
    margin-bottom: 40px;
    margin-right: 6px;
    
}
.stats,.author
{
    font-size: 12px;
    color: rgb(96, 96, 96);
    line-height: 10px;
}
.title
{
    font-size: 14px;
    margin-top: 0px;

}
